/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    background-color: #1d2d3c;
    color: #ffffff;
}

/* Header */

header {
    background-color: #06131f;
}

#logo {
    height: 50px;
}

/* Gallery */


.card-disc {
    background-color: #102030;
    flex-basis: calc(30% - 40px);
    margin: 40px;
    padding: 30px;
}


.card-disc img {
    width: 90%;
}